<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Have a favorite pen?</h1>
    <h3>Tell us about it and review it here!</h3>
    <p>Many thanks to JetPens.com for the use of their images and copy.</p>
    <p><% link_to "Sign up to write a review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>


<div class="row">
  <% @pens.each do |pen| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag pen.image.url(:medium), class: 'image'), pen %>
        <%= pen.name %>
      </div>
    </div>
  <% end %>
</div>


